div.header
            include ../svg/icon.html
            span.title= title
            div.user
                p.name user
                img(src='/images/icon_user.png')
                div.pages
                    a(href="/?user=#{user_name}") Calendar
                    a(href="/profile?user=#{user_name}") Profile
                    a(href="/profile?user=#{user_name}") Team
                    a(href="/") 
                        p.out Sign Out
                            