@keyframes single_char {
  0% {
    opacity: 1;
  }

  45% {
    transform: translateX(-10px);
    opacity: 0;
  }

  55% {
    transform: translateX(+10px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}