doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/main.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
        script(src='/javascripts/lib/moment.min.js')
        script(src='/javascripts-dist/main.js')

    body
        include partials/header.jade

        div.main
            div.log_in
                p Log in with email
                input

            div.panel.hide
                div.year 
                    h2 Year: #{year}
                    p.up.clickable >
                    p.down.clickable < 

                div.columns
                    div.month
                        p.column_name Month
                        div.month_input
                            p.month_text= month
                            p.up.clickable >
                            p.down.clickable <

                        p.total total/month
                        div.total
                            p 0

                    div.days
                        p.column_name Days
                        div.calendar

                    div.actions
                        p.column_name Actions
                        div.save_interval
                            img(src='/images/Calendar-Add.png').clickable
                            //p add interval
                        div.clear_selection
                            img(src='/images/clear.png').clickable
                            //p clear selection
                        div.savePTO
                            img(src='/images/save.png').clickable

                div.display
                    p.title Vacation Leave Intervals
                        span >
                    table
                        thead
                            th Month
                            th Days
                            th Total
                        tbody
                    div.total
                        p Total
                        p.total= total_days
                    div.totalYear
                        p Selected
                        p.total 0
                    div.left
                        p Days left
                        p.total 0
                    



